name: Generate configurations

on:
  schedule:
    - cron: "30 23 * * *"
  workflow_dispatch:
  repository_dispatch:
    types: [generate_configuration]

jobs:
  create_configs:
    permissions:
      contents: write
      pages: write
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Run templ
        run: |
          go install github.com/a-h/templ/cmd/templ@latest
          templ generate

      - name: Build
        run: go build -v -o quickget_cigo ./cmd/main.go

      - name: Generate data
        run: ./quickget_cigo

      - name: Release artifacts
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "quickget_data.json, quickget_data.json.zst, quickget_data.json.gz"
          artifactContentType: "application/octet-stream"
          body: "Quickget configuration files"
          token: ${{ secrets.GITHUB_TOKEN }}
          name: "Quickget configurations"
          tag: "daily"

      - name: Upload Status Page
        uses: actions/upload-pages-artifact@v3
        with:
          path: "statuspage"

      - name: Deploy Status Page
        uses: actions/deploy-pages@v4
